:root {
    --white: #fff;
    --blue: #3d5170;
    --lightBlue: #bdd2e3;
    --grey: #767676;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    background: var(--blue);
    display: flex;
    justify-content: end;
    color: white;
    padding-right: 4rem;
}
.today-weather {
    padding: 0.5rem;
    background: var(--lightBlue);
    border-radius: .25rem;
}

button {
    background: var(--blue);
    border: none;
    border-radius: .25rem;
    color: var(--white);
    margin: .25rem;
}

.placeholder { 
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}
